<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"></link>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
<title th:text="${pageTitle}">Cereal Page</title>
</head>
<body>
	<nav th:replace="Layouts/nav ::navFragment"></nav>
	<h1>Cereal Information</h1>
	<table class="table table-striped">

		<thead>
			<tr>
				<th>Manufacturer</th>
				<th>Cereal</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="cereal: ${cereals}">
				<td th:text="${cereal.manufacturer}"></td>
				<td th:text="${cereal.name}"></td>
				<td><a th:href="@{cerealPage/cereal/view/} + ${cereal.cerealID}">View</a></td>
				<td><a th:href="@{cerealPage/cereal/Edit/} + ${cereal.cerealID}">Edit</a></td>
				<td><a th:href="@{cerealPage/cereal/Delete/} + ${cereal.cerealID}">Delete</a></td>
				
			</tr>

		</tbody>
	</table>
	<a href="/cerealPage/cereal/add" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Add!</a>
</body>
</html>