<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<style>
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: blue;
   color: white;
   text-align: center;
}
</style>
<title>Home Page</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"></link>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
</head>
<body>

<h1>Weather Home Page</h1>
	
	<a href="/Belfast" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Belfast Weather</a>
	<a href="/Dublin" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Dublin Weather</a>
	<a href="/London" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">London Weather</a>
	
	<div class="footer">
  <p>Footer</p>
</div>

</body>
</html>