<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<style>
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: blue;
   color: white;
   text-align: center;
}
</style>
<title>Largest Building Page</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"></link>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
</head>
<body>
<nav th:replace="layouts/nav :: navFragment">
</nav>


<h1>Largest Building Page!</h1>


	<a href="floorPage">
	<img src="../static/floor.jpg" th:src="@{/floor.jpg}" alt="Largest Floor Area" style="width:400px;height:250px;"/>
	</a>
	
	<a href="footprintPage">
	<img src="../static/footprint.png" th:src="@{/footprint.png}" alt="Largest Footprint" style="width:400px;height:250px;"/>
	</a>
	
	<a href="usablevolumePage">
	<img src="../static/volume.png" th:src="@{/volume.png}" alt="Largest Usable Volume" style="width:400px;height:250px;"/>
	</a>
	
	<div class="footer">
  <p>Dwarf dwarfs dwarve dwarves...</p>
</div>

</body>
</html>