<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"></link>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
<title th:text="${pageTitle}">Passenger Page</title>
</head>
<body>
	<nav th:replace="layouts/nav ::navFragment"></nav>
	<h1>Passenger Information</h1>
	<table class="table table-striped">

		<thead>
		</thead>
		<tbody>
			<tr th:each="passenger: ${passengers}">
				<td th:text="${passenger.name}"></td>
				<td th:text="${passenger.age}"></td>
				<td th:text="${passenger.fare}"></td>
				<td th:text="${passenger.cabin}"></td>
				<td th:text="${passenger.sex}"></td>
				<td th:text="${passenger.survived}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>