<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"></link>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
<title th:text="${pageTitle}">Passenger Page</title>
</head>

<body>

	<nav th:replace="layouts/nav ::navFragment"></nav>
	<h1>Passenger Information</h1>
	<table class="table table-striped">

		<thead>
		</thead>
		<tbody>
			<tr th:each="passenger: ${passengers}">
				<td th:text="${passenger.name}"></td>
				<td><a
					th:href="@{passengerPage/passenger/view/} + ${passenger.passengerId}"
					class="btn btn-secondary btn-lg active" role="button"
					aria-pressed="true">View</a></td>
				<td><a
					th:href="@{passengerPage/passenger/Edit/} + ${passenger.passengerId}"
					class="btn btn-secondary btn-lg active" role="button"
					aria-pressed="true">Edit</a></td>
				<td><a
					th:href="@{passengerPage/passenger/Delete/} + ${passenger.passengerId}"
					class="btn btn-secondary btn-lg active" role="button"
					aria-pressed="true">Delete</a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>