<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"></link>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>


<title th:text="${pageTitle}">Generic Page Title</title>
</head>
<body>




	<div class="jumbotron" align="center">
		<h2>Selected Constituency</h2>
	</div>




	<div class="container">
		<table th:each="member : ${members}" class="table table-dark table-hover">
		<tbody>
		
			<tr>
			<th class="w-25">Person ID</th>
				<td class="w-75" th:text="${member.personId}"></td>
				
			</tr>
			<tr>
			<th>Affiliation ID</th>
				<td th:text="${member.affiliationId}"></td>
			</tr>
			<tr>
			<th>Member Name</th>
				<td th:text="${member.memberName}"></td>
			</tr>
			<tr>
			<th>Party</th>
				<td th:text="${member.partyName}"></td>
				<td><img src="" th:src="@{/} + ${member.partyOrganisationId} + '.png'"/></td>
			</tr>
			<tr>
			<th>Constituency ID</th>
				<td th:text="${member.constituencyName}"></td>
			</tr>
			<tr>
			<th>Image</th>
				<td> <img src="" th:src="@{http://aims.niassembly.gov.uk/images/mla/} + ${member.personId} + '_s.jpg'"/></td>
			</tr>
		</tbody>
	</table>
	</div>
</body>
</html>